doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/cannot_modify.css')
    script(src='https://kit.fontawesome.com/d66b1d76b9.js' crossorigin='anonymous')
    block head
  body

    a.icon(href="/customer/order_status")
      icon.fas.fa-chevron-left.fa-3x
    a.hi(href='/customer/menu/dashboard') Hi, #{user.first_name}
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

    p.warningUser You cannot edit your order after 10 minutes!
