if(user)
    h1 Welcome to your dashboard #{user.first_name}
a(href='/customer/customer_order') View my orders 
br
br
a(href='/customer/menu') menu
br
br
a(href='/customer/menu/dashboard/logout') Log out