h1 FORGOT PASSWORD 
form(action='', method='POST')
    label(for='email') Enter your Email 
    br
    input#email.form-control(type='email', name='email', value=email)
    button(type='submit') Submit